<script>
    // This can be false if you're using a fallback (i.e. SPA mode)
    export const prerender = true;

	import Nav from '../components/Nav.svelte';
	import Footer from '../components/Footer.svelte';

	/**
	 * @type {any}
	 */
	 export let segment;
</script>

<style>
	main {
		position: relative;
		max-width: 56em;
		padding: 1em;
		margin: 50px auto 0;
		box-sizing: border-box;
		height: calc(100vh - 100px);
	}

</style>

<Nav {segment}/>

<main>
	<slot></slot>
</main>

<Footer {segment} />