<script>
	export let segment;
</script>

<style>

    footer {
        height: 50px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(248,248,255);
        color: rgb(51, 51, 51);
        position: fixed;
    }

    footer::after {
        content: '';
        position: absolute;
        top: 0px;
        height: 4px;
        width: 100%;
        background-color: #ff8c00;

    }

    ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

    a {
		text-decoration: none;
		display: block;
        padding: 0 .5em;
	}

</style>

<footer>
    <ul>
        <!-- <li><a class='{segment === undefined ? "selected" : ""}' href='.'>home</a></li> -->
        <li><a class='{segment === "about" ? "selected" : ""}' href='about'>what is scratch?</a></li>
        <li><a class='{segment === "terms" ? "selected" : ""}' href='terms'>terms</a></li>

        <li><a href='https://gitlab.com/dantuck/scratch.dantuck.com' target="_blank">code</a></li>

        <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
            the blog data when we hover over the link or tap it on a touchscreen -->
        <!-- <li><a rel=prefetch class='{segment === "blog" ? "selected" : ""}' href='blog'>blog</a></li> -->
    </ul>
</footer>