<svelte:head>
	<title>About</title>
</svelte:head>

<h1>What is Scratch?</h1>

<p>Scratch is a safe place to scrath out your thoughts and wipe them from your
mind. It is meant to be a therapeutic way of getting your thoughts down on
paper and then wiping them away without worry of anyone else reading it.</p>